<html>
    <head><title>Audio-Text Model</title></head>
    <style>
        .op1{
            cursor: pointer;
            width: 300px;
            height: 100px;
            background: #4E9CAF;
            transform: translateX(0%);
            border-radius: 5px;
            color: white;
            font-weight: bold;
            line-height: 60px;
            font-size: large;
        }

        .op1:hover {
            background-color: #255c74;
            color: white;
        }
    </style>

<body style="margin: auto; text-align: center;">
    <h1 style="text-align: center; background-color: darkcyan;"> Audio-text Multimodal Representation </h1>
    
    <a method="GET" href="/module_1"><button class="op1">Audio-Text Coherence</button></a><br><br>
    <a method="GET" href="/module_2"><button class="op1">Audio-Audio Coherence</button></a><br><br>
    <a method="GET" href="/module_3"><button class="op1">Summarizing Text data to Audio</button></a><br><br>
    <a method="GET" href="/module_4"><button class="op1">Summarizing Audio files to Text</button></a><br>
    
</body>    

</html>    