<html>

<head>
    <style>
    body{
      text-align: center;
      font-size: xx-large;
      margin:auto;  
    }
    </style>
</head>


<body>
    <h1 style="background-color: darkcyan;">Summarizing Text to Audio</h1>
    <form action="\module_3" method = "POST">
        <textarea name = "text_area" rows="20" cols="80" style="font-size: x-large;"></textarea>
        <br><br>
        <input type="submit" value="Submit" style="font-size: large;">
    </form>
</body>

</html>